<div class="col-sm-3 col-md-2 sidebar">

  <ul class="nav nav-sidebar">
  	<h4 class="col-md-12">Navigation</h4>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="/">List of Volunteers</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="/signup">Sign up as a Volunteer</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="/resources">Resources</a></li>
  </ul>
</div>
